workflows/instagram-leads-enrichment-fixed.json
{
  "name": "Instagram Leads Enriquecidos",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Cron Diário (2 AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "instagram_leads",
        "returnAll": false,
        "limit": 100,
        "filters": {
          "conditions": [
            {
              "keyName": "dado_enriquecido",
              "condition": "eq",
              "keyValue": "false"
            }
          ]
        },
        "sort": {
          "field": "created_at",
          "direction": "desc"
        }
      },
      "id": "supabase-select",
      "name": "Supabase: Buscar Leads",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.length }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "if-has-leads",
      "name": "IF: Tem Leads?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-batch",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/instagram/enrich-lead",
        "authentication": "none",
        "requestMethod": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "http-enrich",
      "name": "HTTP: Enriquecer Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "instagram_leads",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "updateFields": {
          "fields": [
            {
              "column": "full_name",
              "fieldValue": "={{ $json.full_name }}"
            },
            {
              "column": "first_name",
              "fieldValue": "={{ $json.first_name }}"
            },
            {
              "column": "last_name",
              "fieldValue": "={{ $json.last_name }}"
            },
            {
              "column": "email",
              "fieldValue": "={{ $json.email }}"
            },
            {
              "column": "phone",
              "fieldValue": "={{ $json.phone }}"
            },
            {
              "column": "city",
              "fieldValue": "={{ $json.city }}"
            },
            {
              "column": "state",
              "fieldValue": "={{ $json.state }}"
            },
            {
              "column": "address",
              "fieldValue": "={{ $json.address }}"
            },
            {
              "column": "zip_code",
              "fieldValue": "={{ $json.zip_code }}"
            },
            {
              "column": "dado_enriquecido",
              "fieldValue": "true"
            },
            {
              "column": "updated_at",
              "fieldValue": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "supabase-update",
      "name": "Supabase: Update Lead",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1340, 200],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "instagram_leads",
        "returnAll": false,
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "dado_enriquecido",
              "condition": "eq",
              "keyValue": "false"
            }
          ]
        },
        "options": {
          "queryName": "aggregate",
          "aggregate": "count"
        }
      },
      "id": "supabase-count",
      "name": "Supabase: Count Restantes",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1560, 200],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.count }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "if-has-more",
      "name": "IF: Tem Mais Leads?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1780, 200]
    },
    {
      "parameters": {},
      "id": "noop-done",
      "name": "Workflow Completo",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2000, 300]
    }
  ],
  "connections": {
    "Cron Diário (2 AM)": {
      "main": [
        [
          {
            "node": "Supabase: Buscar Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Buscar Leads": {
      "main": [
        [
          {
            "node": "IF: Tem Leads?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Tem Leads?": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow Completo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "HTTP: Enriquecer Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase: Count Restantes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Enriquecer Lead": {
      "main": [
        [
          {
            "node": "Supabase: Update Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Update Lead": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Count Restantes": {
      "main": [
        [
          {
            "node": "IF: Tem Mais Leads?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Tem Mais Leads?": {
      "main": [
        [
          {
            "node": "Supabase: Buscar Leads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow Completo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "local"
  },
  "tags": []
}
